In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Shree\\Downloads\\Dataset\\boston.csv")

In [3]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [6]:
df = df.interpolate() #interpolate means to fill the missing or nan values with value derived from known data points
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.980,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.140,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.030,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.940,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,4.075,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,11.705,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.080,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.640,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.480,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,89.3,2.5050,1,273,21.0,396.90,7.880,11.9

In [7]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [8]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.676492,11.419960,11.127105,0.067194,0.554695,6.284634,68.694071,3.795043,9.549407,408.237154,18.455534,356.674032,12.698439,22.532806
std,8.714302,23.231082,6.853911,0.250605,0.115878,0.702617,27.909935,2.105710,8.707259,168.537116,2.164946,91.294864,7.138245,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.080573,0.000000,5.190000,0.000000,0.449000,5.885500,45.450000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.150000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.689388,13.625000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [13]:
df_x = df
df_x = df_x.drop(columns="MEDV")

In [14]:
df_x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.980
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.140
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.030
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.940
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,4.075
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,11.705
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.080
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.640
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.480
505,0.04741,0.0,11.93,0.0,0.573,6.030,89.3,2.5050,1,273,21.0,396.90,7.880

In [15]:
df_y = df["MEDV"]

In [16]:
df_y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.3, random_state=42)

In [19]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
116,0.13158,0.0,10.01,0.0,0.547,6.176,72.5,2.7301,6,432,17.8,393.30,13.03
45,0.17142,0.0,6.91,0.0,0.448,5.682,33.8,5.1004,3,233,17.9,396.90,10.21
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4,307,21.0,386.85,6.58
468,15.57570,0.0,18.10,0.0,0.580,5.926,71.0,2.9084,24,666,20.2,368.74,18.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.17120,0.0,8.56,0.0,0.520,5.836,91.9,2.2110,5,384,20.9,395.67,18.66
270,0.29916,20.0,6.96,0.0,0.464,5.856,42.1,4.4290,3,223,18.6,388.65,13.00
348,0.01501,80.0,2.01,0.0,0.435,6.635,29.7,8.3440,4,280,17.0,390.94,5.99
435,11.16040,0.0,18.10,0.0,0.740,6.629,94.6,2.1247,24,666,20.2,109.85,23.27
102,0.22876,0.0,8.56,0.0,0.520,6.405,85.4,2.7147,5,384,20.9,70.80,10.63

In [20]:
y_train

5      28.7
116    21.2
45     19.3
16     23.1
468    19.1
       ...
106    19.5
270    21.1
348    24.5
435    13.4
102    18.6
Name: MEDV, Length: 354, dtype: float64

In [25]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [28]:
reg.fit(x_train, y_train)

LinearRegression()

In [29]:
reg.coef_

array([-1.40015131e-01,  3.78815682e-02,  4.69090162e-02,  3.43622416e+00,
       -1.55225233e+01,  4.03326670e+00, -1.32189520e-02, -1.42976091e+00,
        2.47294067e-01, -8.82733212e-03, -9.16106545e-01,  1.15587743e-02,
       -5.32735322e-01])

In [30]:
y_pred = reg.predict(x_test)

In [32]:
y_pred

array([28.70543878, 36.84646582, 15.38733003, 25.38603121, 18.8865079 ,
       23.10304856, 17.5422693 , 14.20269585, 23.00072471, 20.64034931,
       25.20113064, 18.48481396, -6.69098893, 21.76960941, 19.17567608,
       23.74750498, 20.32276788,  5.83120031, 40.50179866, 17.58082758,
       25.4965172 , 30.26490998, 11.00077824, 22.9031561 , 18.10791295,
       15.98982273, 23.26877867, 14.65112987, 22.66326247, 19.37321841,
       22.24186466, 25.12233536, 25.20359825, 18.47052877, 16.73545457,
       17.54688961, 30.78088959, 20.16337178, 24.25917739, 25.62420216,
       14.09448779, 31.87224118, 42.6700455 , 17.63728511, 27.01173366,
       17.22675087, 13.82288451, 26.0998027 , 20.34110386, 30.01814783,
       21.23259257, 33.87044263, 15.60626979, 26.04200285, 39.31242089,
       22.97428749, 18.96809098, 33.13490644, 24.82904314, 12.89830695,
       22.58042343, 30.79811113, 31.66595565, 16.38373684, 20.88401566,
       16.98243396, 20.37660967, 26.15611565, 31.16331794, 12.14170407,
       20.50205669, 27.45165597, 11.06861547, 14.68096452, 23.92845493,
        5.32401695, 21.42098063, 41.45107018, 18.25290485,  9.5737399 ,
       21.15299293, 13.16780529, 21.67634007,  9.53672052, 23.03348905,
       32.24299528, 19.14172201, 25.53194576, 29.41057286, 20.08744798,
       25.63101302,  5.58521117, 20.13439874, 15.07037997, 14.03570344,
       20.79961395, 24.76317844, -0.1378317 , 13.77636705, 15.82775355,
       22.1257366 , 24.60297919, 10.85545237, 19.61388666, 22.98264195,
       12.40036226, 18.44957126, 25.47656147, 20.87146709, 24.63883442,
        7.77700445, 17.00716073, 21.82812113, 27.27755803, 32.10501966,
       15.28934115, 34.32376572, 12.96422987, 21.0990947 , 28.03295221,
       15.74732764, 24.79081062,  3.11436466, 23.87658863, 25.80576068,
       23.05082933, 25.3224384 , 33.24311547, 20.84689332, 38.38081308,
       14.22412215, 25.21796618, 17.70666748, 20.67923427, 10.031362  ,
       21.15279056, 22.32620318, 32.31998388, 31.53418762, 15.41796236,
       16.82666103, 29.01699639, 25.09673404, 17.19044491,  6.14885518,
       26.66803553, 23.67236413, 17.87552028, 13.38938464, 39.84364209,
       16.77114922, 18.2666524 ])

In [33]:
y_test

173    23.6
274    32.4
491    13.6
72     22.8
452    16.1
       ...
441    17.1
23     14.5
225    50.0
433    14.3
447    12.6
Name: MEDV, Length: 152, dtype: float64

In [35]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_pred,y_test))

21.910104288569336